body {
    background-color:blanchedalmond;
}

.título{
    font-family: :Georgia, 'Times New Roman', Times, serif;
    font-weight:300;
    font-style: normal;
    font-size: 7em;
    text-align: center; 
    font-style: italic;
    color: rgb(147, 72, 18);
    background-color: rgb(255, 247, 234);
}
}

.título:hover{
    font-weight:700;
    color:rgb(147, 72, 18);
}
}

.lineahorizontal{

     width: 100%;
    height: 0%;
    border: 3px solid black; /* borde de la figura: grosor, estilo, color */
    position: absolute;
    top: 25%;
     z-index: 10;
      transform: translateY(-80px); /* Moves the title 10px higher without affecting surrounding elements */
}

.subtitulo{
    color:rgb(129, 95, 52);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight:200;
    font-style: normal;
    font-size: 5em;
    text-align: center; 
    transform: translateY(-60px); /* Moves the title 10px higher without affecting surrounding elements */
}

.parrafo{
    color:rgb(128, 62, 15);
    background-color: rgb(255, 247, 234);
}

.column {
  float: left;
  width: 25%;
  padding: -200px;
  margin-trim: 10%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}